@mixin renderButtonLayout($color, $hover) {
  display: flex;
  width: 200px;
  height: 60px;
  background-color: $color;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px;
  border: 0;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: $hover;
  }
}

@mixin cardStyle($color) {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: $color;
  border-radius: 100%;
  width: 30%;
  height: 350px;
  padding: 10px;
}
