@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$accent: #f1e00e;
$primary: #419df4;
$secondary: #4cca77;
$fontPrimary: "Montserrat";
